<div class="d-flex justify-content-center">
  <div class="connect4-game">
    <div class="header">
      <div>{{ "game-content.move-number" | translate }}:</div>
      <div class="title">
        {{ "game-content.on-move" | translate }}
        <span [ngClass]="currentPlayer === 'red' ? 'red' : 'yellow'"></span>
      </div>
      <div>{{ "game-content.move-number" | translate }}:</div>
    </div>
    <app-game-board></app-game-board>
    <div class="btns d-flex justify-content-center p-2">
      <button mat-raised-button color="primary">
        {{ "button.new-game" | translate }}
      </button>
    </div>
  </div>
</div>
